<!DOCTYPE html>
<html lang="en">
  <%- include("./layouts/header") %>
  <body>
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-10 col-lg-8">
          <div class="card mt-5">
            <div class="card-body text-center text-danger display-6">
              Database<br />
              Disconnected
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include("./layouts/footer") %>
  </body>
</html>
