<div class="card mt-5">
  <div class="card-body">
    <!-- Hover added -->
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="w-25">Original Link</th>
          <th scope="col" class="w-25">Short Link</th>
          <th scope="col" class="text-center">Count</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody class="table-group-divider align-middle" id="linkRows"></tbody>
    </table>
  </div>
</div>
